/.DS_Store
/.dist.zip.icloud
/12-04_06-43-22_Shipping label+Packing slip-merged.pdf
/12-04_06-43-22_Shipping label+Packing slip.pdf-merged
/2pagetest-merged.pdf
/FBA_Updated_Label.pdf
/Updated_Labels.pdf
/build
/dist
/dist 2
/env
/labels.spec
/merged-12-04_06-43-22_Shipping label+Packing slip.pdf
/requirements.txt